.rect{
    width: 100px;
    height: 100px;
    background-color: red;
    position: fixed;
    
    animation: mymove 3s ease 1s infinite alternate;  
}
@keyframes mymove{
    0% { top: 20%; left: 20%; background-color: red;}
    25%  { top: 20%; left: 80%; background-color: aqua;}
    50% { top: 80%; left: 80%; background-color: aquamarine;}
    75% { top: 80%; left: 20%; background-color: blueviolet;}
    100% { top: 20%; left: 20%; background-color: brown;}
}